%tr{data: { toggle: 'collapse', target: "#collapse_#{inbox_item.id}"}, class: "#{'unread' if inbox_item.unread?}" }

	%td.subject= link_to inbox_item.subject, edit_inbox_item_path(inbox_item)
	%td.body
		= inbox_item.body
		%div.collapse.collapse-panel{id: "collapse_#{inbox_item.id}"}
			- if inbox_item.file_uploads.any?
				%ul.list-unstyled
					- inbox_item.file_uploads.each do |file|
						%li= link_to file.filename, file_redirect_inbox_item_path(inbox_item, file_upload_id: file.id), target: '_blank'

	%td.file.text-center= glyph(:file) if inbox_item.file_uploads.present?
	%td.edit.text-center
		= link_to edit_inbox_item_path(inbox_item), title: t(:edit) do
			%span.glyphicon.glyphicon-import
	%td.remove.text-center
		= link_to inbox_item_path(inbox_item), method: :delete, data:{confirm: t(:are_you_sure)}, title: t(:remove) do
			= content_tag :i, nil, class: 'ion-close-circled'





