:css
  .unread * {
    font-weight: bold;
  }
  #conversion {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }
  #conversion.invisible {
    opacity: 0;
  }

%br
.alert.alert-info Feel free to edit this email into a more concise log

= simple_nested_form_for @inbox_item do |f|
  .menubar
    .sidebar-toggler.visible-xs
      %i.ion-navicon
    .page-title= t(:inbox)
  .content-wrapper
    .row
      .col-sm-12= f.input :subject
      .col-sm-12= f.input :body, input_html: {rows: 4}
    
    - unless @inbox_item.converted? 
      .row
        .col-sm-3   
          = f.label :convert, 'Import'
          %br
          = f.check_box :convert, data: {target: '#conversion'}, class: 'switch'
          %br
        #conversion.col-sm-9
          .row
            .col-sm-4= f.input :project_id, collection: @projects, prompt: 'Project...', input_html: {class: 'chosen'} 
            .col-sm-4= f.input :date, input_html: {class: 'datepicker'}
            .col-sm-4
              %br
              .btn-group{data:{toggle: 'buttons'}}
                %label.btn-xs.btn.btn-primary{class: "#{'active' if f.object.log_type == 'lab_notes'}"}
                  = f.radio_button :log_type, 'lab_notes', autocomplete: 'off'
                  = t(:lab_notes)
                %label.btn.btn-xs.btn-primary{class: "#{'active' if f.object.log_type == 'log_data'}"}
                  = f.radio_button :log_type, 'log_data', autocomplete: 'off'
                  = t(:log_data)
                %label.btn.btn-xs.btn-primary{class: "#{'active' if f.object.log_type == 'progress'}"} 
                  = f.radio_button :log_type, 'progress', autocomplete: 'off'
                  = t(:progress)

    %hr
    = f.submit 'Convert', class: 'btn btn-success', disable_with: t('please_wait')
