.menubar
	.sidebar-toggler.visible-xs
		%i.ion-navicon
	.page-title= t(:inbox)

.content-wrapper
	%br
	- if @inbox_items.blank?
		%h2= t(:no_items_found)
	- else
		.chart
			.table-responsive
				%table#inbox_items.table.table-striped
					%thead
						%tr
							%th= t(:subject)
							%th= t(:body)
							%th.text-center= t(:file)
							%th.text-center= t(:import)
							%th.text-center= t(:delete)
					%tbody= render @inbox_items

= content_for :body_id, "reports"
